# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/

# Python virtual environment
venv/
.venv/
env/
ENV/
pyvenv.cfg
.Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.env

# Docker and Compose
.docker-ignored
*.db
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
